[user]
	email = billsix@gmail.com
	name = William Emerison Six
[push]
	default = simple
[core]
	editor = emacs -nw
	#hooksPath = .githooks
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        squash = "!f() { git reset --soft $1 && git commit ${2:+-m \"$2\"}; }; f"
        dw = diff --word-diff=color
[log]
	decorate = true
[pull]
	ff = only
[rebase]
	autoStash = true
[pager]
	branch = false
[color]
	ui = auto
[fetch]
	prune = true
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
